@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Kumbh+Sans&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Kumbh+Sans&family=Lato&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    background-image: url(./images/background-home-desktop.jpg);
    background-size: cover;
}

input {
    display: none;
}

nav label {
    display: none;
}

.logo img {
    height: 6vh;
    margin: 10px;
    position: relative;
    left: 20px;
}

hr {
    width: 30%;
    height: 0.1vh;
    background: gray;
    border: 1px solid gray;
    opacity: 0.2;
    position: relative;
    top: 30px;
    left: 90px;
    z-index: 150;
    /* display: none; */
}

nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgba(255, 255, 255, 0.3);  */
}

.nav_items {
    width: 100%;
    max-width: 700px;
    padding-block: 20px;
    position: relative;
    background-repeat: no-repeat;
    background: rgba(255, 255, 255, 0.078);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(1rem);
    /* padding: 0 150px 0 10px; */
    top: 0;
    right: 1px;
}

.nav_items span {
    font-weight: 600;
    background: none;
}

.nav_items a {
    background: none;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 30px;
    margin-left: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    color: white;
}

.nav_items a:hover {
    text-decoration: underline;
    text-underline-offset: 22px;
}

main {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 800px;
    margin: 170px auto;
    height: 100%;
}

section {
    display: flex;
}

.content {
    color: white;
    width: 50%;
}

h4 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-size: 1.7em;
    margin-left: 25px;
    text-transform: uppercase;
}

p {
    font-family: "Cormorant SC";
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 500;
    margin-left: 20px;
}

h6 {
    font-size: 0.9em;
    font-family: "lato";
    font-weight: 200;
    line-height: 25px;
    width: 90%;
    margin-left: 20px;
    text-align: left;
}

.content_right {
    border-radius: 50%;
    width: 50%;
    height: 37vh;
    border: 1px solid white;
    background: white;
    margin-top: 70px;
    margin-left: 200px;
}

.content_right p {
    color: rgb(2, 2, 48);
    font-size: 1.7em;
    text-align: center;
    background-image: none;
    margin: 75px auto;
}

@media (min-width: 1116px) and (max-width: 1500px) {
    .nav_items a:hover {
        text-decoration: underline;
        text-underline-offset: 25px;
    }

    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 1.8em;
        margin-left: 15px;
        text-transform: uppercase;
    }

    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: 500;
        margin-left: 10px;
    }

    h6 {
        font-size: 1.2em;
        font-family: "lato";
        font-weight: 200;
        line-height: 25px;
        width: 100%;
        margin-left: 10px;
        text-align: left;
    }

    .content_right {
        border-radius: 100%;
        width: 100%;
        /* height: 30vh; */
        border: 1px solid white;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-left: 200px;
    }

    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 2em;
        /* margin-top: 40px ; */
        background-image: none;
    }
}

@media (min-width: 1000px) and (max-width: 1115px) {
    hr {
        width: 30%;
        height: 0.1vh;
        background: gray;
        border: 1px solid gray;
        opacity: 0.2;
        position: relative;
        top: 30px;
        left: 60px;
        z-index: 150;
        /* display: none; */
    }

    .nav_items a:hover {
        text-decoration: underline;
        text-underline-offset: 25px;
    }

    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 1.8em;
        margin-left: 5px;
        text-transform: uppercase;
    }

    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: 500;
        margin-left: 5px;
    }

    h6 {
        font-size: 1.2em;
        font-family: "lato";
        font-weight: 200;
        line-height: 25px;
        width: 100%;
        margin-left: 5px;
        text-align: left;
    }

    .content_right {
        border-radius: 100%;
        width: 70%;
        height: 35vh;
        border: 1px solid white;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-left: 200px;
    }

    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 2em;
        /* margin-top: 40px ; */
        background-image: none;
    }
}

@media screen and (max-width: 999px) {
    * {
        background-attachment: fixed;
        background-image: url(./images/background-home-tablet.jpg);
        background-size: cover;
    }

    hr {
        display: none;
    }

    .nav_items {
        width: 100%;
        max-width: 600px;
        padding-block: 50px;
        position: relative;
        background-repeat: no-repeat;
        background: rgba(255, 255, 255, 0.078);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(1rem);
        top: 0;
        right: 0px;
        margin-top: -15px;
    }

    .nav_items a {
        font-size: 25px;
        margin-left: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
        color: white;
    }

    .nav_items span {
        display: none;
    }

    .nav_items a:hover {
        text-decoration: underline;
        text-underline-offset: 50px;
    }

    main {
        width: 100%;
        max-width: 800px;
        margin: 170px auto;
    }

    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .content {
        color: white;
        width: 50%;
    }

    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 2.5em;
        width: 100%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 12em;
        font-weight: 500;
        text-align: center;
        margin-left: -70px;
        align-items: center;
    }

    h6 {
        width: 150%;
        font-size: 1.5em;
        font-family: "lato";
        font-weight: 200;
        line-height: 35px;
        margin-left: -100px;
        text-align: center;
    }

    .content_right {
        border-radius: 50%;
        width: 40%;
        height: 30vh;
        border: 1px solid white;
        background: white;
        margin-top: 70px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 2.7em;
        text-align: center;
        background-image: none;
        margin: 75px auto;
    }
}

@media (min-width: 771px) and (max-width: 801px) {
    main {
        width: 100%;
        max-width: 800px;
        margin: 100px auto;
        height: 90vh;
    }

    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 2.5em;
        width: 100%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 11em;
        font-weight: 500;
        text-align: center;
        margin-left: -40px;
        align-items: center;
    }

    h6 {
        width: 150%;
        font-size: 1.5em;
        font-family: "lato";
        font-weight: 200;
        line-height: 35px;
        margin-left: -80px;
        text-align: center;
    }

    .content_right {
        border-radius: 50%;
        width: 40%;
        height: 28vh;
        border: 1px solid white;
        background: white;
        margin-top: 70px;
        margin-left: 0px;
    }

    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 2.7em;
        text-align: center;
        background-image: none;
        margin: 75px auto;
    }
}

@media (min-width: 699px) and (max-width: 770px) {
    main {
        width: 100%;
        max-width: 800px;
        margin: 100px auto;
        height: 90vh;
    }

    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 2.5em;
        width: 100%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 10em;
        font-weight: 500;
        text-align: center;
        margin-left: -35px;
        align-items: center;
    }

    h6 {
        width: 150%;
        font-size: 1.5em;
        font-family: "lato";
        font-weight: 200;
        line-height: 35px;
        margin-left: -80px;
        text-align: center;
    }

    .content_right {
        border-radius: 50%;
        width: 40%;
        height: 31vh;
        border: 1px solid white;
        background: white;
        margin-top: 70px;
        margin-left: 0px;
    }

    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 2.7em;
        text-align: center;
        background-image: none;
        margin: 75px auto;
    }
}

@media screen and (max-width: 600px) {
    *{
        background-attachment: fixed;
        background-image: url(./images/background-home-mobile.jpg);
        background-size: cover;
    }
    .logo img {
        height: 5.5vh;
        position: relative;
        top: -5px;
    }

    hr {
        display: none;
    }

    .nav_items {
        position: fixed;
        inset: 0 0 0 40%;
        padding: min( 2vh , 10rem);
        display: none;
    }


    .nav_items a:hover {
        text-decoration: underline;
        text-underline-offset: 22px;
    }
    

    nav label {
        display: inline;
        font-size: 5.5vh;
        position: relative;
        top: -5px;
        left: -30px;
        right: 0px;
        color: white;
        background: none;
        z-index: 100;
    }

    #toggle:checked~.nav_items {
        display: inline-block;
    }
   
}

@media screen and (max-width: 599px) {
  
    .nav_items a {
        display: flex;
        font-size: 1.2em;
        gap: 0px;
        color: white;
        font-weight: 600;
        margin-left: -20px;
        margin-top: 70px;
        position: relative;
        top: 90px;
    }

    .nav_items span {
        display: none;
    }
    
    .nav_items a:hover {
        text-decoration: underline;
        text-underline-offset: 22px;
    }
    
    
    main {
        /* border: 1px solid red; */
        width: 100%;
        max-width: 800px;
        margin: 50px auto;
        height: 110vh;
    }
    
    section{
        flex-direction: column;
    }
    
    .content {
        color: white;
        width: 100%;
        text-align: center;
    }
    
    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 1.7em;
        margin-left: 0px;
        text-transform: uppercase;
    }
    
    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 7rem;
        font-weight: 500;
        margin-left: 0px;
    }
    
    h6 {
        font-size: 1em;
        font-family: "lato";
        font-weight: 200;
        line-height: 25px;
        width: 75%;
        margin-left: 55px;
        text-align: center;
    }
    
    .content_right {
        border-radius: 50%;
        width: 50%;
        height: 25vh;
        border: 1px solid white;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-left:  0px;
    }
    
    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        background-image: none;
        background-color: none;
        margin: 75px auto;
    }
}

@media screen and (max-width: 399px) {
   
    .nav_items a {
        display: flex;
        font-size: 1.2em;
        gap: 0px;
        color: white;
        font-weight: 600;
        margin-left: 0px;
        margin-top: 70px;
        position: relative;
        top: 90px;
    }

    .nav_items span {
        display: none;
    }

    .nav_items a:hover {
        text-decoration: underline;
        text-underline-offset: 22px;
    }
    
    
    main {
        /* border: 1px solid red; */
        width: 100%;
        max-width: 800px;
        margin: 50px auto;
        height: 100%;
    }
    
    section{
        flex-direction: column;
    }
    
    .content {
        color: white;
        width: 100%;
        text-align: center;
    }
    
    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 1.7em;
        margin-left: 0px;
        text-transform: uppercase;
    }
    
    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 7rem;
        font-weight: 500;
        margin-left: 0px;
    }
    
    h6 {
        font-size: 1em;
        font-family: "lato";
        font-weight: 200;
        line-height: 25px;
        width: 75%;
        margin-left: 53px;
        text-align: center;
    }
    
    .content_right {
        border-radius: 50%;
        width: 50%;
        height: 25vh;
        border: 1px solid white;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-left: 0px;
    }
    
    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 1.8em;
        font-weight: 600;
        text-align: center;
        background-image: none;
        background-color: none;
        margin: 75px auto;
    }
}

@media screen and (max-width: 361px) {
    .content_right {
        border-radius: 50%;
        width: 50%;
        height: 23vh;
        border: 1px solid white;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 321px) {
    
    .nav_items a {
        display: flex;
        font-size: 1.2em;
        gap: 0px;
        color: white;
        font-weight: 600;
        margin-left: 0;
        margin-top: 50px;
        position: relative;
        top: 50px;
    }

    .nav_items span {
        display: none;
    }

    .nav_items a:hover {
        text-decoration: underline;
        text-underline-offset: 22px;
    }
    
    
    main {
        /* border: 1px solid red; */
        width: 100%;
        max-width: 800px;
        margin: 50px auto;
        height: 100%;
    }
    
    section{
        flex-direction: column;
    }
    
    .content {
        color: white;
        width: 100%;
        text-align: center;
    }
    
    h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-size: 1.2em;
        margin-left: 0px;
        text-transform: uppercase;
    }
    
    p {
        font-family: "Cormorant SC";
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 500;
        margin-left: 0px;
    }
    
    h6 {
        font-size: 0.9em;
        font-family: "lato";
        font-weight: 200;
        line-height: 25px;
        width: 67%;
        margin-left: 57px;
        text-align: center;
    }
    
    .content_right {
        border-radius: 50%;
        width: 50%;
        height: 31vh;
        border: 1px solid white;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        margin-left: 0px;
    }
    
    .content_right p {
        color: rgb(2, 2, 48);
        font-size: 1.5em;
        font-weight: 600;
        text-align: center;
        background-image: none;
        background-color: none;
        margin: 75px auto;
    }
}

